a{
text-decoration: none;
color: #064497;
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
}
a.footer{
font-size: 12px;
font-weight: bold;
}
a.hidden{
display: none
}
a.coral{
font-size: 10px;
font-weight: bold;
color: #FF9933;
}
a.white{
font-size: 11px;
font-weight: bold;
color: #FFFFFF;
}

a.blue{
font-size: 11px;
font-weight: bold;
color: #6283A0;
}
a:hover {
text-decoration: underline;
}
.tableheader{
background-color: #A0C0E0;
text-align: center;
}
.boldtext{
font-size: 11px;
font-family: Trebuchet MS;
}
.boldtextorange{
color: #FF9934;
font-weight: bold;
font-family: Trebuchet MS;
font-size: 11px;
}

.boldtextblue{
color: #CA090A;
font-weight: bold;
font-family: Trebuchet MS;
font-size: 11px;
}
.actionHeader{
background-color: #5eaed8;
color:#fff;
text-align: left;
font-size: 11px;
font-family: Trebuchet MS;
font-weight: bold;
}

.actionRow{
color:#000;
text-align: left;
font-size: 11px;
font-family: Trebuchet MS;
}

.actionRowStop_true{
background-color: red;
color:#ffffff;
text-align: left;
font-size: 10px;
font-family: Trebuchet MS;
}

.actionRowStop_{
background-color: #ff0000;
color:#ffffff;
text-align: left;
font-size: 10px;
font-family: Trebuchet MS;
}
.actionRow2{
background-color: #fff;
color:#ff0000;
text-align: center;
font-size: 10px;
font-family: Trebuchet MS;
}
.currentday{
width: 50%;
background-color: #FF9933;		
color: white;
font-size: 11px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
}

tr.guide{
background-color: #DBEFF1;
text-align: center;
color: #6283A0;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
}
.filters{
height: 30px;
margin: 0px;	
padding: 5px;	
background-color: #DBEFF1;
text-align: left;
color: #6283A0;
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
}

.guideName{
float: left;
margin-left: 5px;
text-transform: uppercase;
}

.red{
background-color: red;
color: #fff;
}

.orange{
background-color: orange;
color: #fff;
}

.green{
background-color: green;
color: #fff;
}

.taskdivheader, .taskdivheader2{
background-color: #699AC6;
color: #fff;
font-family: Arial;
font-size: 12px;
font-weight: bold;
padding: 5px;
}

.taskdivrow{
background-color: #F8FCFC;
color: #000;
font-family: Arial;
font-size: 11px;

padding: 5px;
}

.taskdivheader2{
background-color: orange;
}

.bluebar, .orangebar, .greenbar{
padding: 5px;
background-color: #3A9FF5;
color: #fff;
font-family: Arial;
font-size: 12px;
font-weight: bold;
}

.orangebar{

background-color: orange;
}

.greenbar{

background-color: green;
}

.selectedbar{
background-color: #42B1F8;
color: #fff;
}

.tableheader{
color: #fff;
font-size:12px;
font-weight: bold;
}

.tablerow{
color: #000;
font-size:11px;
text-align:center;
}

.operatorsTH{
background-color: #5EAED8;
font-size:11px;
color: white;
font-weight: bold;
height: 25px;

}

.operatorsTR{
background-color: #F5FBFF;
font-size: 10px;
height: 25px;
}

.boardingTR {
background-color: #FFFF00;
font-size: 11px;
color: #000000;
font-weight: bold;
height: 25px;
}

.transferheader2{
background-color: #699AC6;
color: #fff;
font-family: Arial;
font-size: 12px;
font-weight: bold;
padding: 5px;
}

.transferrow2{
background-color: #E0F1F3;
color: #000;
font-family: Arial;
font-size: 10px;
padding: 5px;
}

.operatorsSB{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 1px #5EAED8;
	background-color: #F5FBFF;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	
}

 .searchboxheader{
    font-size: 13px;
    font-weight: bold;
    margin:10px;
    font-family: Trebuchet MS;   
 }

 fieldset.layout {
    border: 1px solid #5EAED8;
 }
 
fieldset { border: 1px solid #5EAED8;}
 
.searchbox3{
    font-family: trebuchet ms;
    font-size: 11px;
 }
 
.searchbox3 table {
	margin:5px;
}

.searchbox3 table select{
	margin-left:3px;
}

select{
	padding:2px;
}

.travelAccount{
	background-color: #F5FBFF;
    font-family: Trebuchet MS;
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

input{
background-color:#FFFFFF;
border:1px solid #BBBBBB;
padding:2px;
}

input[disabled] {
	border:1px solid #BBBBBB;
	background-color: #ddd;
}

input[type="button"],input[type="submit"]{
	color: #212020;
	cursor:pointer;
	background-color: #FFFFFF;
    border: 1px solid #BBBBBB;
    text-align:center;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
}

input[type="button"]:hover,input[type="submit"]:hover  {
    background-color: #5EAED8;
	color:#fff;
	border:1px solid #626262;
    cursor:pointer;
    text-align:center;
	padding-left:10px;
	padding-right:10px;
	padding-top:2px;
	padding-bottom:2px;
}

.main{font-size:12px !important;}	